
[tool.bumpversion]
current_version = "0.12.2"
parse = "(?P<major>\\d+)\\.(?P<minor>\\d+)\\.(?P<patch>\\d+)"
serialize = ["{major}.{minor}.{patch}"]
search = "{current_version}"
replace = "{new_version}"
regex = true
ignore_missing_version = false
ignore_missing_files = false
tag = true
sign_tags = true
tag_name = "v{new_version}"
tag_message = "Bump version: {current_version} → {new_version}"
allow_dirty = false
commit = true
message = "Bumped version: {current_version} → {new_version}"
moveable_tags = []
commit_args = ""
setup_hooks = []
pre_commit_hooks = []
post_commit_hooks = []

[[tool.bumpversion.files]]
filename = "setup.py"
search = """__version__ = '{current_version}'"""
replace = """__version__ = '{new_version}'"""

[[tool.bumpversion.files]]
filename = "clu/__version__.py"
search = """__version__ = '{current_version}'"""
replace = """__version__ = '{new_version}'"""