[paths]
source =
    clu
    /Users/fish/Dropbox/CLU/clu

[run]
omit =
    clu/__version__.py
    clu/scripts/legacy/*
    clu/testing/hook.py
    clu/testing/obsolete.py

source = 
    clu
    /Users/fish/Dropbox/CLU/clu

branch = True
cover_pylib = True
parallel = False

[report]
omit =
    clu/__version__.py
    clu/scripts/legacy/*
    clu/testing/hook.py
    clu/testing/obsolete.py

skip_empty = True
show_missing = True
ignore_errors = True
precision = 2

exclude_lines =
    pragma: no cover
    if DEBUG
    if consts\.DEBUG
    if verbose
    if __name__ == .__main__.:
    def __reduce__
    except TypeError:
    raise NotImplementedError
    \.\.\.

[html]
directory = "coverage_html"

[xml]
output = "coverage.xml"

[json]
output = "coverage.json"
pretty_print = true