__pycache__/
*.pyc
*.orig
.DS_Store
.tm_properties
*~
\#*\#
Icon*
dump.rdb

*.o
*.so
*.dmg
*.dylib
*.jar
a.out

*.egg-info/
build/
dist/
sdist/

.hypothesis/
.pytest_cache/
.tox/
.envrc

tmtags
tmtagsHistory